Repository olin-electric-motorsports/olin-electric-motorsports, changes with the labels that .github/labeler.yml gives for each.
All labels: bazel, hitl, telemetry

Update pytest integration
  WORKSPACE
  tools/pytest/BUILD
  tools/pytest/defs.bzl
  tools/pytest/requirements.txt
Labels: bazel

Update README
  projects/can_api/README.md
Labels: none

Fix table in README
  projects/can_api/README.md
Labels: none

Remove images
  vehicle/mkv/hardware/dashboard/dux/misc/dashboard
  vehicle/mkv/hardware/dashboard/dux/misc/dashboard-cache.lib
  vehicle/mkv/hardware/dashboard/dux/misc/dashboard-rescue.dcm
  vehicle/mkv/hardware/dashboard/dux/misc/dashboard-rescue.lib
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_2d_12V.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_2d_CANH.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_2d_CANL.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_2d_all.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_back_3d.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_front_3d.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_schematic_back.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_schematic_dux.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_schematic_peripherals.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_schematic_steering.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev1_schematic_throttle.png
  vehicle/mkv/hardware/dashboard/dux_interface/Images/rev_schematic_all.png
  vehicle/mkv/hardware/sensing/accelerometer/img/2x3_pin_header.jpeg
  vehicle/mkv/hardware/sensing/accelerometer/img/9V_snap_plug.jpeg
  vehicle/mkv/hardware/sensing/accelerometer/img/AAA_battery_holder.jpeg
  vehicle/mkv/hardware/sensing/accelerometer/img/INA260.png
  vehicle/mkv/hardware/sensing/accelerometer/img/LIS3DHTR.jpeg
  vehicle/mkv/hardware/sensing/accelerometer/img/SD_Card_Socket.jpg
  vehicle/mkv/hardware/sensing/accelerometer/img/atmega328p.jpeg
  vehicle/mkv/hardware/sensing/controller/pics/ampseal screw.png
  vehicle/mkv/hardware/sensing/controller/pics/ampseal23vert.png
  vehicle/mkv/hardware/sensing/controller/pics/hall effect sensor block diagram.png
  vehicle/mkv/hardware/sensing/controller/pics/hall effect sensor characteristics.png
  vehicle/mkv/hardware/sensing/controller/pics/hall effect sensor.png
  vehicle/mkv/hardware/sensing/controller/pics/microfit2vt.png
  vehicle/mkv/hardware/sensing/controller/pics/mm8vt.jpg
Labels: none

Add missing BUILD files
  vehicle/mkv/hardware/dashboard/dux/BUILD
  vehicle/mkv/hardware/dashboard/throttle/BUILD
  vehicle/mkv/hardware/lvbox/cooling/BUILD
  vehicle/mkv/hardware/lvbox/lvbms/BUILD
  vehicle/mkv/hardware/lvbox/lvbms/tester_board/BUILD
  vehicle/mkv/hardware/sensing/accelerometer/BUILD
  vehicle/mkv/hardware/sensing/controller/BUILD
  vehicle/mkv/hardware/service_section/bms/da1/BUILD
  vehicle/mkv/hardware/service_section/bms/da2/BUILD
  vehicle/mkv/hardware/service_section/controller/BUILD
  vehicle/mkv/hardware/service_section/interface/external/BUILD
  vehicle/mkv/hardware/service_section/peripheral/BUILD
Labels: none

Update BUILD files and remove PDFs
  vehicle/mkv/hardware/dashboard/dux/dashboard.pdf
  vehicle/mkv/hardware/dashboard/dux_interface/interface.pdf
  vehicle/mkv/hardware/dashboard/throttle/Throttle Schematic.pdf
  vehicle/mkv/hardware/dashboard/throttle/throttle_MKIV.pdf
  vehicle/mkv/hardware/lvbox/bspd/bspd_brakelight.pdf
  vehicle/mkv/hardware/lvbox/cooling/BUILD
  vehicle/mkv/hardware/lvbox/cooling/cooling_sense.pdf
  vehicle/mkv/hardware/lvbox/cooling/cooling_sense.pdf.ps
  vehicle/mkv/hardware/lvbox/interface/lv_interface.pdf
  vehicle/mkv/hardware/lvbox/lvbms/BUILD
  vehicle/mkv/hardware/lvbox/lvbms/tester_board/layout.pdf
  vehicle/mkv/hardware/lvbox/lvbms/tester_board/schem.pdf
  vehicle/mkv/hardware/sensing/accelerometer/accelerometer.pdf
  vehicle/mkv/hardware/sensing/controller/sensing_module_interface.pdf
  vehicle/mkv/hardware/service_section/airs/minus/air_minus.pdf
  vehicle/mkv/hardware/service_section/airs/plus/air_plus.pdf
  vehicle/mkv/hardware/service_section/bms/da1/data_acquisition_1.pdf
  vehicle/mkv/hardware/service_section/bms/da2/data_acquisition_2.pdf
  vehicle/mkv/hardware/service_section/controller/bms_core-cache.lib
  vehicle/mkv/hardware/service_section/controller/bms_core-rescue.lib
  vehicle/mkv/hardware/service_section/controller/bms_core.pdf
  vehicle/mkv/hardware/service_section/controller/bms_core.sch
  vehicle/mkv/hardware/service_section/controller/sym-lib-table
  vehicle/mkv/hardware/service_section/interface/external/external_interface.pdf
  vehicle/mkv/hardware/service_section/interface/external/schematic.pdf
  vehicle/mkv/hardware/service_section/interface/internal/internal_interface.pdf
  vehicle/mkv/hardware/service_section/interface/internal/schematic.pdf
  vehicle/mkv/hardware/service_section/peripheral/3D_CVM_CVM_859529-4_P.pdf
  vehicle/mkv/hardware/service_section/peripheral/bms_peripheral.pdf
Labels: none

buildify
  vehicle/mkv/hardware/lvbox/cooling/BUILD
Labels: none

Fix all files with spaces in the name
  parts/3DModels/AP101_3k_resistor/TIP_144_sp.step
  parts/3DModels/AP101_3k_resistor/TIP_144_sp.wrl
  parts/3DModels/CAN_Transceiver/CAN_Transceiver.fcstd
  parts/3DModels/CAN_Transceiver/CAN_Transceiver.step
  parts/3DModels/CAN_Transceiver/CAN_Transceiver.wrl
  parts/3DModels/CAN_Transceiver/SOIC8-N_MC.step
  parts/3DModels/Fuse_807/Part_1.step
  parts/3DModels/Fuse_807/Part_1.wrl
  parts/3DModels/Header_Pin_2x3/Pin_Header_2x3_TH_Pitch_2.54mm.stp
  parts/3DModels/LED_0805/LED_0805_Base_GREEN001_sp.step
  parts/3DModels/LED_0805/LED_0805_Base_GREEN001_sp.wrl
  parts/3DModels/R_1k_HS_TO247_OEM/User_Library-RA-T2X-25E_heat_sink.STEP
  parts/3DModels/R_1k_HS_TO247_OEM/User_Library-TO247-2.STEP
  parts/3DModels/SC-70-5/User_Library-SC70-5-1.STEP
  parts/3DModels/SC-70-5/User_Library-SC70-5-1.WRL
  parts/3DModels/relay_G2RL-1-E/Part_2.step
  parts/3DModels/relay_G2RL-1-E/Part_2.wrl
  parts/footprints.pretty/CONN_RECEPT_2MM_VERT_AU_10POS.kicad_mod
  parts/footprints.pretty/OE_Logo_ft.kicad_mod
Labels: none

Fix github workflow for files with spaces
  .github/workflows/kicad.yml
Labels: none

Remove bms core resuce
  vehicle/mkv/hardware/service_section/controller/bms_core-rescue.lib
Labels: none

Fix bug with evaluating offset and scale in YAML
  projects/can_api/yaml_handler.py
Labels: none

Update brake pressure scale and offset
  vehicle/mkv/software/brakelight_bspd/bspd.yml
Labels: none

Make CAN variables volatile
  projects/can_api/files/c_templates/c_file.j2
  projects/can_api/files/c_templates/h_file.j2
Labels: none

Fix typo in README
  projects/can_api/README.md
Labels: none

Fix concurrency issues and ensure atomic access
  projects/can_api/README.md
  projects/can_api/files/c_templates/c_file.j2
  projects/can_api/files/c_templates/h_file.j2
Labels: none

Fix BSPD implementation
  vehicle/mkv/software/brakelight_bspd/bspd.c
Labels: none

Switch PCB layers between power and ground.
  vehicle/mkv/hardware/sensing_controller/sensing_controller.kicad_pcb
Labels: none

Rename brake_voltage to brake_pressure
  vehicle/mkv/software/brakelight_bspd/bspd.c
  vehicle/mkv/software/brakelight_bspd/bspd.yml
Labels: none

Bug fixes from testing
  bazel/toolchain/features.bzl
  projects/can_api/files/c_templates/c_file.j2
  projects/can_api/yaml_handler.py
  vehicle/mkv/software/brakelight_bspd/bspd.yml
Labels: bazel

package for arduino serial comands
  projects/microhitl/pyserialarduino/examples/test_read_write.py
  projects/microhitl/pyserialarduino/pyserialarduino/__init__.py
  projects/microhitl/pyserialarduino/setup.py
Labels: none

added arduino file
  projects/microhitl/ShellIOControl.ino
Labels: none

Fix boolean test case
  projects/can_api/tests/tx_only.yml
Labels: none

Add docstrings to YAML handler
  projects/can_api/yaml_handler.py
Labels: none

CAN API and DBC generator (#86)
  .github/workflows/build.yml
  WORKSPACE
  bazel/toolchain/features.bzl
  bazel/tools/BUILD
  bazel/tools/defs.bzl
  libs/can/BUILD
  libs/can/test/test_app.c
  projects/can_api/BUILD
  projects/can_api/README.md
  projects/can_api/__init__.py
  projects/can_api/c_generator.py
  projects/can_api/dbc_generator.py
  projects/can_api/files/c_templates/BUILD
  projects/can_api/files/c_templates/c_file.j2
  projects/can_api/files/c_templates/h_file.j2
  projects/can_api/files/reserved_ids.yaml
  projects/can_api/tests/BUILD
  projects/can_api/tests/__init__.py
  projects/can_api/tests/conftest.py
  projects/can_api/tests/rx_fail.yml
  projects/can_api/tests/rx_only.yml
  projects/can_api/tests/test_c_generator.py
  projects/can_api/tests/test_yaml_handler.py
  projects/can_api/tests/tx_only.yml
  projects/can_api/utils.py
  projects/can_api/yaml_handler.py
  third_party/cantools/BUILD
  tools/pytest/BUILD
  tools/pytest/defs.bzl
  tools/pytest/pytest_wrapper.py
  tools/pytest/requirements.txt
  vehicle/mkv/BUILD
  vehicle/mkv/software/air_control/BUILD
  vehicle/mkv/software/air_control/air.yml
  vehicle/mkv/software/brakelight_bspd/BUILD
  vehicle/mkv/software/brakelight_bspd/bspd.c
  vehicle/mkv/software/brakelight_bspd/bspd.yml
  vehicle/mkv/software/brakelight_bspd/bspd_config.h
  vehicle/mkv/software/motor_controller/BUILD
  vehicle/mkv/software/motor_controller/motor_controller.dbc
Labels: bazel

cleaned up code and restructured
  projects/microhitl/BUILD
  projects/microhitl/ShellIOControl.ino
  projects/microhitl/ShellIOControl/ShellIOControl.ino
  projects/microhitl/__init__.py
  projects/microhitl/examples/test_read_write.py
  projects/microhitl/microhitl.py
  projects/microhitl/pyserialarduino/examples/test_read_write.py
  projects/microhitl/pyserialarduino/setup.py
Labels: none

removing deps
  projects/microhitl/BUILD
Labels: none

formatting
  projects/microhitl/ShellIOControl/ShellIOControl.ino
Labels: none

Enable periodic CAN message broadcasts (#85)
  projects/hitl/software/hitl/cancontroller.py
  projects/hitl/software/tests/unit/test_can.py
Labels: hitl

Add python-version to gitignore (#84)
  .gitignore
Labels: none

formatting
  projects/microhitl/ShellIOControl/ShellIOControl.ino
  projects/microhitl/examples/test_read_write.py
  projects/microhitl/microhitl.py
Labels: none

formatting
  projects/microhitl/BUILD
Labels: none

lint
  projects/hitl/software/hitl/BUILD
  projects/hitl/software/scripts/BUILD
Labels: hitl

Add bazel options to build hitl library and run hitl setup script
  projects/hitl/.gitignore
  projects/hitl/software/hitl/BUILD
  projects/hitl/software/scripts/BUILD
Labels: hitl

Add missing bazel integrations
  WORKSPACE
  projects/hitl/software/BUILD
  projects/hitl/software/artifacts/BUILD
  projects/hitl/software/hitl/BUILD
  projects/hitl/software/hitl/__init__.py
  projects/hitl/software/hitl/hitl.py
  projects/hitl/software/hitl/roadkillharness.py
  projects/hitl/software/requirements.txt
  projects/hitl/tests/BUILD
  projects/hitl/tests/__init__.py
  projects/hitl/tests/conftest.py
  projects/hitl/tests/pytest.ini
  projects/hitl/tests/test_main.py
  projects/hitl/tests/throttle_test.py
Labels: bazel, hitl

Buildifier
  WORKSPACE
  projects/hitl/software/hitl/BUILD
  projects/hitl/tests/BUILD
Labels: bazel, hitl

Fix WORKSPACE issue
  WORKSPACE
Labels: bazel

Fix missing file build error
  projects/hitl/software/hitl/BUILD
Labels: hitl

Fix imports for failing tests
  projects/hitl/software/hitl/cancontroller.py
  projects/hitl/software/hitl/iocontroller.py
  projects/hitl/software/hitl/roadkillharness.py
  projects/hitl/tests/BUILD
Labels: hitl

Resolve missing singal type for ERROR signal
  projects/hitl/software/artifacts/pin_info.csv
Labels: hitl

Add missing USB dependency in BUILD file
  projects/hitl/software/hitl/BUILD
Labels: hitl

.github/labeler.yml:

bazel:
- 'bazel/**/*'
- 'WORKSPACE'
- 'BUILD.bazel'
- '.bazelrc'
- '.bazelversion'

hitl:
- projects/hitl/**/*

telemetry:
- projects/telemetry/**/*
