Repository olin-electric-motorsports/olin-electric-motorsports, changes with the labels that .github/labeler.yml gives for each.
All labels: bazel, hitl, telemetry

.github/labeler.yml:

bazel:
- 'bazel/**/*'
- 'WORKSPACE'
- 'BUILD.bazel'
- '.bazelrc'
- '.bazelversion'

hitl:
- projects/hitl/**/*

telemetry:
- projects/telemetry/**/*

Buildify
  projects/hitl/software/hitl/BUILD
Labels: hitl

layout first pass gd mfs
  vehicle/mkv/hardware/lvbox/lvbms/lv_bms/lv_bms_2-cache.lib
  vehicle/mkv/hardware/lvbox/lvbms/lv_bms/lv_bms_2.kicad_pcb
  vehicle/mkv/hardware/lvbox/lvbms/lv_bms/lv_bms_2.pro
  vehicle/mkv/hardware/lvbox/lvbms/lv_bms/lv_bms_2.sch
Labels: none

Remove incomplete rows in pin_info to avoid errors
  projects/hitl/software/artifacts/pin_info.csv
Labels: hitl

Set default harness state to not real
  projects/hitl/software/hitl/cancontroller.py
  projects/hitl/software/hitl/iocontroller.py
  projects/hitl/software/hitl/roadkillharness.py
  projects/hitl/software/tests/conftest.py
Labels: hitl

fixup
  projects/hitl/software/hitl/cancontroller.py
Labels: hitl

fixup
  projects/hitl/software/hitl/roadkillharness.py
Labels: hitl

fixup
  projects/hitl/software/hitl/roadkillharness.py
Labels: hitl

fixup
  projects/hitl/software/hitl/roadkillharness.py
Labels: hitl

File restructure and updated BUILD file
  projects/microhitl/BUILD
  projects/microhitl/ShellIOControl/ShellIOControl.ino
  projects/microhitl/examples/test_read_write.py
  projects/microhitl/microhitl.py
  projects/microhitl/test_read_write.py
Labels: none

cleaned up functions and added exception
  projects/microhitl/ShellIOControl/ShellIOControl.ino
  projects/microhitl/microhitl.py
Labels: none

formatting
  projects/microhitl/BUILD
  projects/microhitl/microhitl.py
Labels: none

updated fixes
  projects/microhitl/BUILD
  projects/microhitl/microhitl.py
  projects/microhitl/test_read_write.py
Labels: none

minor comment fix
  projects/microhitl/test_read_write.py
Labels: none

Move arduino file
  projects/microhitl/microhitl.ino
Labels: none

microhitl python wrapper for pyserial (#90)
  projects/microhitl/BUILD
  projects/microhitl/__init__.py
  projects/microhitl/microhitl.ino
  projects/microhitl/microhitl.py
  projects/microhitl/test_read_write.py
Labels: none

Fit all parts on the board.
  vehicle/mkv/hardware/sensing_controller/sensing_controller.kicad_pcb
Labels: none

squash
  projects/hitl/tests/conftest.py
  projects/hitl/tests/throttle_test.py
Labels: hitl

squash
  projects/hitl/.python-version
  projects/hitl/software/hitl/roadkillharness.py
Labels: hitl

DO NOT APPROVE
  vehicle/mkv/hardware/lvbox/cooling/Logic_Sheet.kicad_sch
  vehicle/mkv/hardware/lvbox/cooling/cooling_sense-backups/cooling_sense-2022-01-31_213815.zip
  vehicle/mkv/hardware/lvbox/cooling/cooling_sense.kicad_pcb
  vehicle/mkv/hardware/lvbox/cooling/cooling_sense.kicad_pro
  vehicle/mkv/hardware/lvbox/cooling/cooling_sense.kicad_sch
Labels: none

DO NOT APPROVE
  vehicle/mkv/hardware/lvbox/bspd/bspd_brakelight-backups/bspd_brakelight-2022-01-31_214624.zip
  vehicle/mkv/hardware/lvbox/bspd/bspd_brakelight.kicad_pcb
  vehicle/mkv/hardware/lvbox/bspd/bspd_brakelight.kicad_pro
  vehicle/mkv/hardware/lvbox/cooling/cooling_sense-backups/cooling_sense-2022-01-31_214617.zip
Labels: none

DO NOT APPROVE
  vehicle/mkv/hardware/lvbox/bspd/BUILD
  vehicle/mkv/hardware/lvbox/bspd/bspd_brakelight-backups/bspd_brakelight-2022-01-31_215837.zip
  vehicle/mkv/hardware/lvbox/bspd/bspd_brakelight.kicad_pcb
  vehicle/mkv/hardware/lvbox/cooling/BUILD
Labels: none

Update tests to only run with physical hardware
  projects/hitl/software/hitl/cancontroller.py
  projects/hitl/software/hitl/iocontroller.py
  projects/hitl/software/hitl/roadkillharness.py
  projects/hitl/tests/BUILD
  projects/hitl/tests/conftest.py
  projects/hitl/tests/pytest.ini
  projects/hitl/tests/throttle_test.py
Labels: hitl

Add bazel options to build hitl library and run hitl setup script (#51)
  WORKSPACE
  projects/hitl/.gitignore
  projects/hitl/.python-version
  projects/hitl/software/BUILD
  projects/hitl/software/artifacts/BUILD
  projects/hitl/software/artifacts/pin_info.csv
  projects/hitl/software/hitl/BUILD
  projects/hitl/software/hitl/__init__.py
  projects/hitl/software/hitl/cancontroller.py
  projects/hitl/software/hitl/hitl.py
  projects/hitl/software/hitl/iocontroller.py
  projects/hitl/software/hitl/roadkillharness.py
  projects/hitl/software/requirements.txt
  projects/hitl/software/scripts/BUILD
  projects/hitl/software/tests/conftest.py
  projects/hitl/tests/BUILD
  projects/hitl/tests/__init__.py
  projects/hitl/tests/conftest.py
  projects/hitl/tests/pytest.ini
  projects/hitl/tests/test_main.py
  projects/hitl/tests/throttle_test.py
Labels: bazel, hitl

layout rev2 completed
  vehicle/mkv/hardware/lvbox/lvbms/lv_bms/lv_bms_2.kicad_pcb
  vehicle/mkv/hardware/lvbox/lvbms/lv_bms/lv_bms_2.sch
Labels: none

GIT HYGIENE
  vehicle/mkv/hardware/lvbox/lvbms/BUILD
  vehicle/mkv/hardware/lvbox/lvbms/load_switch_sim.zip
  vehicle/mkv/hardware/lvbox/lvbms/lv_bms/LV_BMS_Schematic.pdf
  vehicle/mkv/hardware/lvbox/lvbms/lv_bms/lv_bms.pdf
  vehicle/mkv/hardware/lvbox/lvbms/lvbms-cache.lib
  vehicle/mkv/hardware/lvbox/lvbms/lvbms.kicad_pcb
  vehicle/mkv/hardware/lvbox/lvbms/lvbms.pro
  vehicle/mkv/hardware/lvbox/lvbms/lvbms.sch
  vehicle/mkv/hardware/lvbox/lvbms/sym-lib-table
  vehicle/mkv/hardware/lvbox/lvbms/tester_board/BUILD
  vehicle/mkv/hardware/lvbox/lvbms/tester_board/layout.pdf
  vehicle/mkv/hardware/lvbox/lvbms/tester_board/layout_render.png
  vehicle/mkv/hardware/lvbox/lvbms/tester_board/lv_bms_tester_board.csv
  vehicle/mkv/hardware/lvbox/lvbms/tester_board/lv_bms_tester_board.xml
  vehicle/mkv/hardware/lvbox/lvbms/tester_board/schem.pdf
Labels: none
