Repository olin-electric-motorsports/olin-electric-motorsports, changes with the labels that .github/labeler.yml gives for each.
All labels: bazel, hitl, telemetry

.github/labeler.yml:

bazel:
- 'bazel/**/*'
- 'WORKSPACE'
- 'BUILD.bazel'
- '.bazelrc'
- '.bazelversion'

hitl:
- projects/hitl/**/*

telemetry:
- projects/telemetry/**/*

fixed script for action runner
  projects/hitl/software/scripts/hitl_bashrc_warning.py
  projects/hitl/software/scripts/hitl_control.py
  projects/hitl/software/scripts/hitl_ssh_warning.py
Labels: hitl

removed action script
  .github/workflows/hitl.yml
Labels: none

added script description
  projects/hitl/software/scripts/hitl_bashrc_warning.py
Labels: hitl

removed globals
  projects/hitl/software/scripts/hitl_control.py
Labels: hitl

Fix bug with cancontroller not shutting down
  projects/hitl/software/hitl/cancontroller.py
Labels: hitl

added the final service section layout and schematic
  vehicle/mkv/hardware/service_section_controller/service_section_controller.kicad_pcb
  vehicle/mkv/hardware/service_section_controller/service_section_controller.step
Labels: none

Create dockerfile for hitl image
  projects/hitl/software/Dockerfile
Labels: hitl

action runner button works
  projects/hitl/software/scripts/hitl_bashrc_warning.py
  projects/hitl/software/scripts/hitl_control.py
Labels: hitl

Change hitl docker container entrypoint to python
  projects/hitl/software/Dockerfile
Labels: hitl

Add python-version to gitignore
  .gitignore
Labels: none

final schematic and layout for service section controller
  vehicle/mkv/hardware/service_section_controller/service_section_controller.kicad_pcb
Labels: none

changed warning msg
  projects/hitl/software/scripts/hitl_bashrc_warning.py
Labels: hitl

Add set_periodic function to cancontroller
  projects/hitl/software/hitl/cancontroller.py
Labels: hitl

label updates
  vehicle/mkv/hardware/lvbox/lv_board/lv_board.sch
Labels: none

data visualization framework complete
  projects/telemetry/datavisualization/Dockerfile
  projects/telemetry/datavisualization/README.md
  projects/telemetry/datavisualization/config.py
  projects/telemetry/datavisualization/docker-compose.yml
  projects/telemetry/datavisualization/dump.rdb
  projects/telemetry/datavisualization/scripts/entrypoint.sh
  projects/telemetry/datavisualization/setup.py
  projects/telemetry/datavisualization/telemetry/app.py
  projects/telemetry/datavisualization/telemetry/dump.rdb
  projects/telemetry/datavisualization/telemetry/library.py
  projects/telemetry/datavisualization/tests/data_stream_simulator/data_stream_simulator.ino
Labels: telemetry

Fix bug with cancontroller not shutting down (#83)
  projects/hitl/software/hitl/cancontroller.py
Labels: hitl

fixup
  projects/hitl/software/hitl/cancontroller.py
Labels: hitl

periodic send test
  projects/hitl/software/hitl/cancontroller.py
  projects/hitl/software/tests/unit/test_can.py
Labels: hitl

Add cantools DBC generator bazel integration
  WORKSPACE
  bazel/tools/BUILD
  bazel/tools/defs.bzl
  libs/can/BUILD
  libs/can/test/test_app.c
  third_party/cantools/BUILD
  vehicle/mkv/BUILD
Labels: bazel

mvp yaml->dbc is working
  projects/can_api/src/generator/yaml_handler.py
  projects/can_api/src/yaml_scripts/can_api_h_converter.py
  projects/can_api/src/yaml_scripts/csv_to_yaml.py
Labels: none

Add in C and H file generation for CAN API
  bazel/tools/defs.bzl
  libs/can/BUILD
  libs/can/test/test_app.c
  projects/can_api/BUILD
  projects/can_api/c_generator.py
  projects/can_api/files/c_templates/BUILD
  projects/can_api/files/c_templates/c_file.j2
  projects/can_api/files/c_templates/h_file.j2
  projects/can_api/main.py
  projects/can_api/yaml_handler.py
  vehicle/mkv/BUILD
  vehicle/mkv/software/air_control/air.yml
Labels: bazel

transfer can_api files to monorepo
  projects/can_api/README.md
  projects/can_api/files/address_space.csv
  projects/can_api/files/dbcs/dash.dbc
  projects/can_api/files/dbcs/original.dbc
  projects/can_api/files/dbcs/shutdown.dbc
  projects/can_api/files/dbcs/test.dbc
  projects/can_api/files/hidden/brakelight_bspd_shutdown.yaml
  projects/can_api/files/hidden/dashboard.yaml
  projects/can_api/files/hidden/shutdown.yaml
  projects/can_api/files/hidden/throttle.yaml
  projects/can_api/files/mini_yamls/air_ctrl.yaml
  projects/can_api/files/mini_yamls/bms_core.yaml
  projects/can_api/files/reserved_ids.yaml
  projects/can_api/src/generator/generator.py
  projects/can_api/src/generator/main.py
  projects/can_api/src/generator/sample_c/libs/can_api.c
  projects/can_api/src/generator/sample_c/libs/can_api.h
  projects/can_api/src/generator/sample_c/libs/shared_defs.h
  projects/can_api/src/generator/sample_c/libs/shutdown.c
  projects/can_api/src/generator/sample_c/libs/shutdown.h
  projects/can_api/src/generator/sample_c/libs/shutdown_generated.c
  projects/can_api/src/generator/sample_c/libs/shutdown_generated.h
  projects/can_api/src/generator/sample_c/test_transmit.c
  projects/can_api/src/generator/templates/c_file.txt
  projects/can_api/src/generator/templates/c_setters.txt
  projects/can_api/src/generator/templates/generate_can_arr.txt
  projects/can_api/src/generator/templates/generate_msg_structs.txt
  projects/can_api/src/generator/templates/h_file.txt
  projects/can_api/src/generator/templates/h_setters.txt
  projects/can_api/src/generator/templates/raw_array_defs.txt
  projects/can_api/src/generator/yaml_handler.py
  projects/can_api/src/yaml_scripts/can_api_h_converter.py
  projects/can_api/src/yaml_scripts/csv_to_yaml.py
Labels: none

Add initial updated yaml->dbc generator
  bazel/tools/defs.bzl
  projects/can_api/BUILD
  projects/can_api/main.py
  projects/can_api/yaml_handler.py
  vehicle/mkv/BUILD
  vehicle/mkv/software/air_control/BUILD
  vehicle/mkv/software/air_control/air.yml
  vehicle/mkv/software/motor_controller/BUILD
  vehicle/mkv/software/motor_controller/motor_controller.dbc
Labels: bazel

Update bool value to use comments for meaning
  projects/can_api/yaml_handler.py
  vehicle/mkv/software/air_control/air.yml
Labels: none

updated readme with todo list
  projects/can_api/README.md
Labels: none

added docstrings to all functions in yaml_handler
  projects/can_api/yaml_handler.py
Labels: none

Add receive message handling for generated API
  bazel/tools/defs.bzl
  libs/can/BUILD
  libs/can/test/test_app.c
  projects/can_api/c_generator.py
  projects/can_api/files/c_templates/c_file.j2
  projects/can_api/files/c_templates/h_file.j2
  vehicle/mkv/software/air_control/air.yml
Labels: bazel

minor generator update
  projects/can_api/generator.py
Labels: none

added docstrings
  projects/can_api/README.md
  projects/can_api/files/mini_yamls/air_ctrl.yaml
  projects/can_api/files/mini_yamls/bms_core.yaml
  projects/can_api/yaml_handler.py
Labels: none

readme update
  projects/can_api/README.md
Labels: none

added full dbc generator, cleaned up relative paths
  projects/can_api/README.md
  projects/can_api/defs.py
  projects/can_api/files/c_templates/c_file.txt
  projects/can_api/files/c_templates/c_setters.txt
  projects/can_api/files/c_templates/generate_can_arr.txt
  projects/can_api/files/c_templates/generate_msg_structs.txt
  projects/can_api/files/c_templates/h_file.txt
  projects/can_api/files/c_templates/h_setters.txt
  projects/can_api/files/c_templates/raw_array_defs.txt
  projects/can_api/src/generator/generator.py
  projects/can_api/src/generator/main.py
  projects/can_api/src/generator/yaml_handler.py
Labels: none

updated mini_yaml field naming
  projects/can_api/README.md
  projects/can_api/files/mini_yamls/air_ctrl.yaml
  projects/can_api/files/mini_yamls/bms_core.yaml
Labels: none

added reserved message ID handling
  projects/can_api/README.md
  projects/can_api/__init__.py
  projects/can_api/files/reserved_ids.yaml
  projects/can_api/generator.py
  projects/can_api/main.py
  projects/can_api/sample_c/libs/can_api.c
  projects/can_api/sample_c/libs/can_api.h
  projects/can_api/sample_c/libs/shared_defs.h
  projects/can_api/sample_c/libs/shutdown.c
  projects/can_api/sample_c/libs/shutdown.h
  projects/can_api/sample_c/libs/shutdown_generated.c
  projects/can_api/sample_c/libs/shutdown_generated.h
  projects/can_api/sample_c/test_transmit.c
  projects/can_api/yaml_handler.py
Labels: none

Move BSPD to use new CAN API
  projects/can_api/c_generator.py
  vehicle/mkv/BUILD
  vehicle/mkv/software/air_control/air.yml
  vehicle/mkv/software/brakelight_bspd/BUILD
  vehicle/mkv/software/brakelight_bspd/bspd.c
  vehicle/mkv/software/brakelight_bspd/bspd.yml
Labels: none

clang-format and buildify
  WORKSPACE
  libs/can/BUILD
  libs/can/test/test_app.c
  projects/can_api/BUILD
  projects/can_api/sample_c/libs/can_api.c
  projects/can_api/sample_c/libs/can_api.h
  projects/can_api/sample_c/libs/shared_defs.h
  projects/can_api/sample_c/libs/shutdown.c
  projects/can_api/sample_c/libs/shutdown.h
  projects/can_api/sample_c/libs/shutdown_generated.c
  projects/can_api/sample_c/libs/shutdown_generated.h
  projects/can_api/sample_c/test_transmit.c
  vehicle/mkv/software/brakelight_bspd/BUILD
  vehicle/mkv/software/brakelight_bspd/bspd.c
Labels: bazel

Make third_party/cantools not build in CI
  WORKSPACE
  third_party/cantools/BUILD
Labels: bazel

buildify
  WORKSPACE
Labels: bazel

Remove old CAN from BSPD config
  vehicle/mkv/software/brakelight_bspd/bspd_config.h
Labels: none

Add more tests
  projects/can_api/BUILD
  projects/can_api/c_generator.py
  projects/can_api/tests/BUILD
  projects/can_api/tests/conftest.py
  projects/can_api/tests/rx_fail.yml
  projects/can_api/tests/rx_only.yml
  projects/can_api/tests/test_c_generator.py
  projects/can_api/tests/test_yaml_handler.py
  projects/can_api/utils.py
  projects/can_api/yaml_handler.py
Labels: none

buildify
  projects/can_api/BUILD
  projects/can_api/tests/BUILD
  tools/pytest/defs.bzl
Labels: none
