Repository olin-electric-motorsports/olin-electric-motorsports, changes with the labels that .github/labeler.yml gives for each.
All labels: bazel, hitl, telemetry, vehicle, mkv, mkvi, gokart, hardware

.github/labeler.yml:

bazel:
- 'bazel/**/*'
- 'WORKSPACE'
- 'BUILD.bazel'
- '.bazelrc'
- '.bazelversion'

hitl:
- 'projects/hitl/**/*'

telemetry:
- 'projects/telemetry/**/*'

vehicle:
- 'vehicle/**/*'

mkv:
- 'vehicle/mkv/**/*'

mkvi:
- 'vehicle/mkvi/**/*'

gokart:
- 'vehicle/gokart/**/*'

hardware:
- '**/*.kicad_pro'
- '**/*.kicad_sch'
- '**/*.kicad_pcb'

fix(git): unignore external interface
  .gitignore
  vehicle/mkv/hardware/service_section/interface/external/external_interface.kicad_pro
  vehicle/mkv/hardware/service_section/interface/external/external_interface.kicad_sch
Labels: vehicle, mkv, hardware

fix: misc tweaks to resolve kibot errors
  bazel/defs.bzl
  projects/telemetry/imu/imu.kicad_pcb
  projects/telemetry/imu/imu.kicad_pro
  projects/telemetry/imu/imu.kicad_sch
  vehicle/mkv/hardware/lvbox/lvbms/lvbms.kicad_sch
  vehicle/mkv/hardware/sensing_controller/BUILD
  vehicle/mkv/hardware/service_section/bms/da1/file5DB8402A.kicad_sch
  vehicle/mkv/hardware/service_section/peripheral/BUILD
  vehicle/mkv/hardware/service_section/peripheral/bms_peripheral_v2.kicad_pcb
  vehicle/mkv/hardware/service_section/peripheral/bms_peripheral_v2.kicad_sch
  vehicle/mkv/hardware/service_section_controller/power_secondary.kicad_sch
Labels: bazel, telemetry, vehicle, mkv, hardware

Add power distribution library
  tutorials/power_distribution/BUILD
  tutorials/power_distribution/api.h
  tutorials/power_distribution/power_distribution.c
Labels: none

Add power distribution library
  tutorials/power_distribution/BUILD
  tutorials/power_distribution/api.h
  tutorials/power_distribution/power_distribution.c
Labels: none

linting
  tutorials/power_distribution/BUILD
  tutorials/power_distribution/api.h
  tutorials/power_distribution/power_distribution.c
Labels: none
