Repository olin-electric-motorsports/olin-electric-motorsports, pull requests merged in 2022-12, with the labels that each got.

#196 Fix issue causing firmware images to pull in unnecessary code
  bazel/toolchain/features.bzl
  tools/pytest/requirements.txt
Labels: ci, bazel

#193 Fix the filters install so it works on Mac and Linux both
  scripts/install_kicad_git_filters.sh
Labels: needs-review

#197 Add AIR Control Schematic
  parts/oem.pretty/SO-8_Diodes.kicad_mod
  parts/oem.pretty/SOT23-14-Thin.kicad_mod
  vehicle/mkvi/hardware/service-section/air-control/AIRs.kicad_pro
  vehicle/mkvi/hardware/service-section/air-control/AIRs.kicad_sch
  vehicle/mkvi/hardware/service-section/air-control/BUILD
  vehicle/mkvi/hardware/service-section/air-control/CAN_TCVR.kicad_sch
  vehicle/mkvi/hardware/service-section/air-control/SS_MOSFET.kicad_sch
Labels: vehicle, hardware, mkvi

#178 Throttle Schematic First Draft
  vehicle/mkvi/hardware/nostril/throttle/BUILD
  vehicle/mkvi/hardware/nostril/throttle/inertia_switch.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/microcontroller.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/sym-lib-table
  vehicle/mkvi/hardware/nostril/throttle/throttle.kicad_pcb
  vehicle/mkvi/hardware/nostril/throttle/throttle.kicad_pro
  vehicle/mkvi/hardware/nostril/throttle/throttle.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/throttle/BUILD
  vehicle/mkvi/hardware/nostril/throttle/throttle/Off Board Circuit.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/throttle/Throttle Potentiometer.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/throttle/inertia_switch.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/throttle/microcontroller.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/throttle/sym-lib-table
  vehicle/mkvi/hardware/nostril/throttle/throttle/throttle.kicad_pcb
  vehicle/mkvi/hardware/nostril/throttle/throttle/throttle.kicad_pro
  vehicle/mkvi/hardware/nostril/throttle/throttle/throttle.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/throttle/throttle_pos_sensor.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/throttle/throttle_pot.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/throttle_pos_sensor.kicad_sch
  vehicle/mkvi/hardware/nostril/throttle/throttle_pot.kicad_sch
Labels: vehicle, hardware, mkvi, subteam:lv, needs-review

#199 Add IMD latch schematic
  parts/3DModels/CD4044BDR/CD4044BDR.stp
  parts/footprints.pretty/SOIC127P600X175-16N.kicad_mod
  parts/schematic/formula.kicad_sym
  vehicle/mkvi/hardware/service-section/imd-latch/BUILD
  vehicle/mkvi/hardware/service-section/imd-latch/IMD_Latch.kicad_pcb
  vehicle/mkvi/hardware/service-section/imd-latch/IMD_Latch.kicad_pro
  vehicle/mkvi/hardware/service-section/imd-latch/IMD_Latch.kicad_sch
Labels: vehicle, hardware, mkvi, subteam:hv

#194 Remove duplicate files with case-sensitive names
  parts/3DModels/Micromatch_Female_RA_20/Micromatch_Female_RA_20.fcstd
  parts/3DModels/Micromatch_Female_RA_20/Micromatch_Female_RA_20.fcstd1
  parts/3DModels/Micromatch_Male_RA_20/C-2-215464-0.step
  parts/3DModels/Micromatch_Male_RA_20/C-2-215464-0.wrl
  parts/3DModels/Micromatch_Male_RA_20/Micromatch_Female_RA_20.step
  parts/3DModels/Micromatch_Male_RA_20/Micromatch_Female_RA_20.wrl
  parts/3DModels/Micromatch_Male_RA_20/micromatch_female_ra_20.fcstd
  parts/3DModels/Micromatch_Male_RA_20/micromatch_female_ra_20.fcstd1
  parts/3DModels/SMB_OEM/SMB.STEP
  parts/3DModels/SOD_923_OEM/SOD-923.step
  parts/footprints.pretty/Olin_O.kicad_mod
Labels: needs-review

#170 Add enum generation to CAN API
  projects/can_api/c_generator.py
  projects/can_api/dbc_generator.py
  projects/can_api/files/c_templates/h_file.j2
  vehicle/mkv/software/air_control/air.c
  vehicle/mkv/software/air_control/air.yml
  vehicle/mkv/software/bms/bms.c
  vehicle/mkv/software/bms/bms.yml
  vehicle/mkv/software/bms/utils/fault.c
  vehicle/mkv/software/bms/utils/fault.h
  vehicle/mkv/software/dashboard/dashboard.c
Labels: vehicle, mkv

#205 Add rev 1 of throttle PCB layout
  vehicle/mkvi/hardware/nostril/throttle/BUILD
  vehicle/mkvi/hardware/nostril/throttle/throttle.kicad_pcb
  vehicle/mkvi/hardware/nostril/throttle/throttle.kicad_pro
  vehicle/mkvi/hardware/nostril/throttle/throttle.kicad_sch
Labels: vehicle, hardware, mkvi, subteam:lv

#204 BSPD PCB Update
  vehicle/mkvi/hardware/nostril/brakes/Connector.kicad_sch
  vehicle/mkvi/hardware/nostril/brakes/brakeLight.kicad_sch
  vehicle/mkvi/hardware/nostril/brakes/brakes.kicad_pcb
  vehicle/mkvi/hardware/nostril/brakes/brakes.kicad_pro
  vehicle/mkvi/hardware/nostril/brakes/brakes.kicad_sch
  vehicle/mkvi/hardware/nostril/brakes/bspd.kicad_sch
  vehicle/mkvi/hardware/nostril/brakes/microcontroller.kicad_sch
  vehicle/mkvi/hardware/nostril/brakes/shtdwn_LSD.kicad_sch
Labels: vehicle, hardware, mkvi

#210 Add BSPD SS to Brakes Microcontroller
  vehicle/mkvi/hardware/nostril/brakes/brakes.kicad_pcb
  vehicle/mkvi/hardware/nostril/brakes/brakes.kicad_sch
  vehicle/mkvi/hardware/nostril/brakes/microcontroller.kicad_sch
Labels: vehicle, hardware, mkvi
