Repository olin-electric-motorsports/olin-electric-motorsports, pull requests merged in 2022-03, with the labels that each got.

#121 Add e-meter DBC from FSAE
  vehicle/mkv/BUILD
  vehicle/mkv/software/emeter/BUILD
  vehicle/mkv/software/emeter/emeter.dbc
Labels: vehicle, mkv

#124 Arturo/sensing controller layout
  parts/3DModels/TPS7A2625DRVR/DRV0006A.stp
  parts/3DModels/XGL4020-822MEC/IND_XAL4020_4X4_COC.step
  parts/footprints.pretty/AD8553ARMZ-REEL.kicad_mod
  parts/footprints.pretty/CD74HC4050M96.kicad_mod
  parts/footprints.pretty/TPS7A2625DRVR.kicad_mod
  parts/footprints.pretty/XGL4020-822MEC.kicad_mod
  parts/schematic/formula.dcm
  parts/schematic/formula.lib
  vehicle/mkv/hardware/sensing_controller/fp-lib-table
  vehicle/mkv/hardware/sensing_controller/micros.sch
  vehicle/mkv/hardware/sensing_controller/power.sch
  vehicle/mkv/hardware/sensing_controller/sensing_controller-cache.lib
  vehicle/mkv/hardware/sensing_controller/sensing_controller.kicad_pcb
  vehicle/mkv/hardware/sensing_controller/sensing_controller1.kicad_pcb
  vehicle/mkv/hardware/sensing_controller/sensing_controller1.kicad_pro
  vehicle/mkv/hardware/sensing_controller/sensing_controller1.kicad_sch
  vehicle/mkv/hardware/sensing_controller/suspension_strain.sch
  vehicle/mkv/hardware/sensing_controller/suspension_strain_individual.sch
  vehicle/mkv/hardware/sensing_controller/suspension_travel.sch
  vehicle/mkv/hardware/sensing_controller/sym-lib-table
  vehicle/mkv/hardware/sensing_controller/tire_temp.sch
  vehicle/mkv/hardware/sensing_controller/wheel_speed.sch
Labels: vehicle, mkv, hardware

#99 Add HitL primary board hardware
  parts/3DModels/3pin-jumper/m20-9990346_asm.stp
  parts/3DModels/74HCT4051D/SOT109-1_NXP.step
  parts/3DModels/AD5675/SOP65P640X120-20N.step
  parts/3DModels/AD709/RU_20_ADI.step
  parts/3DModels/Barrel_Jack/CUI_DEVICES_PJ-037A.step
  parts/3DModels/Dsub9/5745781-4.step
  parts/3DModels/Ft4222/VQFN-32_5X5_FTD.step
  parts/3DModels/MAX7300/21-0040_A364_MXM.step
  parts/3DModels/MAX7300/MAX7300AAIT.step
  parts/3DModels/MSOP-EP-12/MSOP-12_MSE.step
  parts/3DModels/PCA9306/SOP50P310X90-8N.step
  parts/3DModels/SAMTEC-ssw-115/SSW-115-01-G-D.step
  parts/3DModels/SAMTEC-ssw-120/SSW-120-01-F-D.step
  parts/3DModels/SAMTEC-ssw-122/SSW-122-01-G-D.step
  parts/3DModels/micromatch_female_VT_6_surface/7-338069-6.step
  parts/3DModels/micromatch_female_vert_8_sm/c-188275-8-u-3d.stp
  parts/3DModels/pinheader_1x2/pinheader_1x2.stp
  parts/footprints.pretty/74HCT4051D.kicad_mod
  parts/footprints.pretty/AD7091R-5BRUZ.kicad_mod
  parts/footprints.pretty/DFN-14_DE_AD.kicad_mod
  parts/footprints.pretty/FT4222_QFN.kicad_mod
  parts/footprints.pretty/MSOP-12_MSE.kicad_mod
  parts/footprints.pretty/PinHeader_1x03_P2.54mm_Vertical.kicad_mod
  parts/footprints.pretty/SAMTEC_SSW-115-01-G-D.kicad_mod
  parts/footprints.pretty/SAMTEC_SSW-120-01-F-D.kicad_mod
  parts/footprints.pretty/SAMTEC_SSW-122-01-G-D.kicad_mod
  parts/footprints.pretty/SOD-323.kicad_mod
  parts/footprints.pretty/SOP50P310X90-8N_pca9306.kicad_mod
  parts/footprints.pretty/SOP65P490X110-8N.kicad_mod
  parts/footprints.pretty/SOP65P640X120-20N_AD.kicad_mod
  parts/footprints.pretty/SOP65P777X199-28N.kicad_mod
  parts/footprints.pretty/SOP80P1030X264-36N.kicad_mod
  parts/footprints.pretty/TE_5745781-4.kicad_mod
  parts/footprints.pretty/barrel_jack_PJ-037A.kicad_mod
  parts/footprints.pretty/micromatch_female_vert_6_sm.kicad_mod
  parts/footprints.pretty/micromatch_female_vert_8_sm.kicad_mod
  parts/footprints.pretty/pinheader_1x2.kicad_mod
  parts/schematic/formula.dcm
  parts/schematic/formula.lib
  projects/hitl/boards_v2/primary_board/ADC.sch
  projects/hitl/boards_v2/primary_board/power.sch
  projects/hitl/boards_v2/primary_board/primary_board.kicad_pcb
  projects/hitl/boards_v2/primary_board/primary_board.pro
  projects/hitl/hardware/primary_board/ADC.sch
  projects/hitl/hardware/primary_board/BUILD
  projects/hitl/hardware/primary_board/hitl-primary-cache.lib
  projects/hitl/hardware/primary_board/hitl-primary.kicad_pcb
  projects/hitl/hardware/primary_board/hitl-primary.pro
  projects/hitl/hardware/primary_board/hitl-primary.sch
  projects/hitl/hardware/primary_board/power.sch
  projects/hitl/hardware/primary_board/sym-lib-table
Labels: hitl, hardware

#66 Telemetry Core
  parts/3DModels/C_10pF/C_10pf.step
  parts/3DModels/C_radial_10mm_5mm/C_radial_10mm_5mm.step
  parts/3DModels/JTX310/JTX310_32.768KHZ--3DMode.STEP
  parts/3DModels/MCP79511-IMS/MSOP10_MC_MCH.step
  parts/3DModels/SM06B-GHS-TB_LF__SN_/SM06B-GHS-TB_LF__SN_--3DModel-STEP-56544.STEP
  parts/footprints.pretty/C_10pf.kicad_mod
  parts/footprints.pretty/C_radial_10mm_5mm.kicad_mod
  parts/footprints.pretty/Crystal_32_768kHZ.kicad_mod
  parts/footprints.pretty/JST_SM06B-GHS-TB_LF__SN_.kicad_mod
  parts/footprints.pretty/MCP79511_I_MS.kicad_mod
  parts/schematic/formula.dcm
  parts/schematic/formula.lib
  projects/telemetry/telemetry_core/BUILD
  projects/telemetry/telemetry_core/Telemetry.dxf
  projects/telemetry/telemetry_core/sym-lib-table
  projects/telemetry/telemetry_core/telemetry_core-cache.lib
  projects/telemetry/telemetry_core/telemetry_core.kicad_pcb
  projects/telemetry/telemetry_core/telemetry_core.pro
  projects/telemetry/telemetry_core/telemetry_core.sch
Labels: telemetry, hardware

#116 Go Kart BMS Core
  parts/footprints.pretty/LED_0805_No_Silk_OEM.kicad_mod
  parts/footprints.pretty/LED_0805_OEM.kicad_mod
  parts/footprints.pretty/SOIC-8_3.9x4.9mm_Pitch1.27mm_OEM.kicad_mod
  parts/schematic/formula.dcm
  parts/schematic/formula.lib
  vehicle/gokart/bms_core/BUILD
  vehicle/gokart/bms_core/bms_core-cache.lib
  vehicle/gokart/bms_core/bms_core.kicad_pcb
  vehicle/gokart/bms_core/bms_core.pro
  vehicle/gokart/bms_core/bms_core.sch
  vehicle/gokart/bms_core/sym-lib-table
Labels: vehicle, hardware, gokart

#119 Add go-kart motor controller interface board
  parts/schematic/formula.dcm
  parts/schematic/formula.lib
  vehicle/go-kart/motor_ctrl_interface/BUILD
  vehicle/go-kart/motor_ctrl_interface/motor_ctrl_interface-cache.lib
  vehicle/go-kart/motor_ctrl_interface/motor_ctrl_interface.kicad_pcb
  vehicle/go-kart/motor_ctrl_interface/motor_ctrl_interface.pro
  vehicle/go-kart/motor_ctrl_interface/motor_ctrl_interface.sch
  vehicle/go-kart/motor_ctrl_interface/sym-lib-table
Labels: vehicle, hardware

#128 Add support for CCLS linting in code editor
  .ccls
  .gitignore
  BUILD.bazel
  WORKSPACE
  bazel/tools/defs.bzl
  projects/hitl/.python-version
Labels: bazel

#126 Updates to accumulator interface for cooling fans
  parts/3DModels/430452400.stp
  parts/3DModels/MicroFit-24-RA/otherside.stp
  parts/3DModels/MicroFit-24-RA/part.stp
  parts/footprints.pretty/Molex_Microfit3_Header_02x12_Straight_0444322401_OEM.kicad_mod
  parts/schematic/formula.dcm
  parts/schematic/formula.lib
  vehicle/mkv/hardware/service_section/interface/external/external_interface-cache.lib
  vehicle/mkv/hardware/service_section/interface/external/external_interface.kicad_pcb
  vehicle/mkv/hardware/service_section/interface/external/external_interface.pro
  vehicle/mkv/hardware/service_section/interface/external/external_interface.sch
  vehicle/mkv/hardware/service_section/interface/internal/internal_interface-cache.lib
  vehicle/mkv/hardware/service_section/interface/internal/internal_interface.kicad_pcb
  vehicle/mkv/hardware/service_section/interface/internal/internal_interface.pro
  vehicle/mkv/hardware/service_section/interface/internal/internal_interface.sch
  vehicle/mkv/hardware/service_section/interface/internal/sym-lib-table
Labels: vehicle, mkv, hardware
