Repository olin-electric-motorsports/olin-electric-motorsports, pull requests merged in 2022-02, with the labels that each got.

#51 Add bazel options to build hitl library and run hitl setup script
  WORKSPACE
  projects/hitl/.gitignore
  projects/hitl/.python-version
  projects/hitl/software/BUILD
  projects/hitl/software/artifacts/BUILD
  projects/hitl/software/artifacts/pin_info.csv
  projects/hitl/software/hitl/BUILD
  projects/hitl/software/hitl/__init__.py
  projects/hitl/software/hitl/cancontroller.py
  projects/hitl/software/hitl/hitl.py
  projects/hitl/software/hitl/iocontroller.py
  projects/hitl/software/hitl/roadkillharness.py
  projects/hitl/software/requirements.txt
  projects/hitl/software/scripts/BUILD
  projects/hitl/software/tests/conftest.py
  projects/hitl/tests/BUILD
  projects/hitl/tests/__init__.py
  projects/hitl/tests/conftest.py
  projects/hitl/tests/pytest.ini
  projects/hitl/tests/test_main.py
  projects/hitl/tests/throttle_test.py
Labels: hitl, bazel

#114 Update avr install and avrdude config file location
  .avrduderc
  BUILD.bazel
  README.md
  bazel/defs.bzl
  bazel/tools/BUILD
  bazel/tools/avrdude.sh.tmpl
Labels: bazel

#111 Add fixes and updates to CAN API
  libs/can/BUILD
  libs/can/api.h
  libs/can/can.c
  libs/can/mob.h
  libs/can/test/BUILD
  libs/can/test/test.yml
  libs/can/test/test_app.c
  projects/can_api/files/c_templates/c_file.j2
  projects/can_api/files/c_templates/h_file.j2
  vehicle/mkv/BUILD
Labels: vehicle, mkv

#112 Add fixes to HITL and MicroHitl for testing
  projects/hitl/software/hitl/BUILD
  projects/hitl/software/hitl/__init__.py
  projects/hitl/software/hitl/cancontroller.py
  projects/hitl/tests/BUILD
  projects/microhitl/BUILD
  projects/microhitl/__init__.py
  tools/pytest/pytest_wrapper.py
Labels: hitl

#105 Integrate LTC6811 libraries
  libs/spi/api.h
  libs/spi/spi.c
  vehicle/mkv/software/bms/ltc6811/BUILD
  vehicle/mkv/software/bms/ltc6811/bms_hardware.c
  vehicle/mkv/software/bms/ltc6811/bms_hardware.h
  vehicle/mkv/software/bms/ltc6811/ltc6811.c
  vehicle/mkv/software/bms/ltc6811/ltc6811.h
  vehicle/mkv/software/bms/ltc6811/ltc681x.c
  vehicle/mkv/software/bms/ltc6811/ltc681x.h
Labels: firmware, vehicle, mkv

#75 Add service section controller hardware
  parts/footprints.pretty/4-pin_SOP.kicad_mod
  parts/footprints.pretty/mimi_apples.kicad_mod
  parts/footprints.pretty/star.kicad_mod
  parts/schematic/formula.dcm
  parts/schematic/formula.lib
  vehicle/mkv/hardware/service_section_controller/BUILD
  vehicle/mkv/hardware/service_section_controller/air_control.sch
  vehicle/mkv/hardware/service_section_controller/bms_core.sch
  vehicle/mkv/hardware/service_section_controller/connectors.sch
  vehicle/mkv/hardware/service_section_controller/imd_latch.sch
  vehicle/mkv/hardware/service_section_controller/micros.sch
  vehicle/mkv/hardware/service_section_controller/power_main.sch
  vehicle/mkv/hardware/service_section_controller/power_secondary.sch
  vehicle/mkv/hardware/service_section_controller/service_section_controller-cache.lib
  vehicle/mkv/hardware/service_section_controller/service_section_controller-rescue.dcm
  vehicle/mkv/hardware/service_section_controller/service_section_controller-rescue.lib
  vehicle/mkv/hardware/service_section_controller/service_section_controller.kicad_pcb
  vehicle/mkv/hardware/service_section_controller/service_section_controller.kicad_pcb_bak
  vehicle/mkv/hardware/service_section_controller/service_section_controller.pro
  vehicle/mkv/hardware/service_section_controller/shutdown_sensing.sch
  vehicle/mkv/hardware/service_section_controller/tsal_ail.sch
Labels: vehicle, mkv, hardware

#89 Update dashboard firmware to use new libraries
  vehicle/mkv/BUILD
  vehicle/mkv/software/air_control/air.yml
  vehicle/mkv/software/bms/BUILD
  vehicle/mkv/software/bms/bms.yml
  vehicle/mkv/software/dashboard/BUILD
  vehicle/mkv/software/dashboard/dashboard.c
  vehicle/mkv/software/dashboard/dashboard.yml
  vehicle/mkv/software/dashboard/dashboard_config.h
Labels: vehicle, mkv
