Repository olin-electric-motorsports/olin-electric-motorsports, pull requests merged in 2022-04, with the labels that each got.

#91 Add AIR Control code
  vehicle/mkv/software/air_control/BUILD
  vehicle/mkv/software/air_control/air.c
  vehicle/mkv/software/air_control/air.yml
  vehicle/mkv/software/air_control/air_config.h
  vehicle/mkv/software/air_control/legacy/air_old.c
  vehicle/mkv/software/air_control/tests/BUILD
  vehicle/mkv/software/air_control/tests/conftest.py
  vehicle/mkv/software/air_control/tests/test_air.py
  vehicle/mkv/software/air_control/tests/test_initial_checks.py
  vehicle/mkv/software/air_control/utils/timer.c
  vehicle/mkv/software/air_control/utils/timer.h
  vehicle/mkv/software/air_control/utils/utils.c
  vehicle/mkv/software/air_control/utils/utils.h
  vehicle/mkv/software/bms/BUILD
  vehicle/mkv/software/bms/bms.yml
Labels: vehicle, mkv

#129 Add Go-Kart Throttle Schematic + Layout
  parts/footprints.pretty/MicroFit12_ra.kicad_mod
  vehicle/gokart/hardware/throttle/BUILD
  vehicle/gokart/hardware/throttle/sym-lib-table
  vehicle/gokart/hardware/throttle/throttle-cache.lib
  vehicle/gokart/hardware/throttle/throttle.kicad_pcb
  vehicle/gokart/hardware/throttle/throttle.kicad_pro
  vehicle/gokart/hardware/throttle/throttle.pro
  vehicle/gokart/hardware/throttle/throttle.sch
Labels: vehicle, hardware, gokart

#132 Add support for ATMega64m1
  .bazelrc
  .github/workflows/build.yml
  WORKSPACE
  bazel/constraints/BUILD
  bazel/defs.bzl
  bazel/platforms/BUILD
  bazel/toolchain/BUILD
  bazel/toolchain/features.bzl
  bazel/tools/avrdude.sh.tmpl
  libs/adc/BUILD
  libs/can/BUILD
  libs/can/test/BUILD
  libs/gpio/BUILD
  libs/spi/BUILD
  libs/timer/BUILD
  libs/uart/BUILD
  scripts/ldscripts/BUILD
  scripts/ldscripts/atmega64m1.ld
  vehicle/mkv/software/air_control/BUILD
  vehicle/mkv/software/air_control/air_config.h
Labels: bazel, vehicle, mkv

#127 Add firmware test board
  projects/firmware_tester_board/BUILD
  projects/firmware_tester_board/firmware_tester_board-cache.lib
  projects/firmware_tester_board/firmware_tester_board.kicad_pcb
  projects/firmware_tester_board/firmware_tester_board.pro
  projects/firmware_tester_board/firmware_tester_board.sch
  projects/firmware_tester_board/fp-lib-table
Labels: hardware

#136 Clean up naming and folder convention for gokart
  vehicle/gokart/hardware/bms_core/BUILD
  vehicle/gokart/hardware/bms_core/bms_core-cache.lib
  vehicle/gokart/hardware/bms_core/bms_core.kicad_pcb
  vehicle/gokart/hardware/bms_core/bms_core.pro
  vehicle/gokart/hardware/bms_core/bms_core.sch
  vehicle/gokart/hardware/bms_core/sym-lib-table
  vehicle/gokart/hardware/motor_ctrl_interface/BUILD
  vehicle/gokart/hardware/motor_ctrl_interface/motor_ctrl_interface-cache.lib
  vehicle/gokart/hardware/motor_ctrl_interface/motor_ctrl_interface.kicad_pcb
  vehicle/gokart/hardware/motor_ctrl_interface/motor_ctrl_interface.pro
  vehicle/gokart/hardware/motor_ctrl_interface/motor_ctrl_interface.sch
  vehicle/gokart/hardware/motor_ctrl_interface/sym-lib-table
Labels: vehicle, hardware, gokart

#123 Add updated MKV throttle code
  libs/adc/adc.c
  projects/can_api/c_generator.py
  projects/can_api/yaml_handler.py
  vehicle/mkv/BUILD
  vehicle/mkv/software/dashboard/dashboard.c
  vehicle/mkv/software/dashboard/dashboard.yml
  vehicle/mkv/software/dashboard/dashboard_config.h
  vehicle/mkv/software/throttle/BUILD
  vehicle/mkv/software/throttle/legacy/throttle_old.c
  vehicle/mkv/software/throttle/legacy/throttle_refactored.c
  vehicle/mkv/software/throttle/throttle.c
  vehicle/mkv/software/throttle/throttle.yml
  vehicle/mkv/software/throttle/throttle_config.h
  vehicle/mkv/software/throttle/utils/timer.c
  vehicle/mkv/software/throttle/utils/timer.h
Labels: vehicle, mkv

#118 Fix issues with template buck converter
  examples/template_board/template_board.kicad_pcb
  examples/template_board/template_board.sch
Labels: hardware
