Repository olin-electric-motorsports/olin-electric-motorsports, pull requests merged in 2023-01, with the labels that each got.

#181 Add Dashboard Schematic
  parts/3DModels/RaspberryPiZeroW.step
  parts/3DModels/SFH11-PBPC-D20-ST-BK.step
  parts/footprints.pretty/SULLINS_SFH11-PBPC-D20-ST-BK.kicad_mod
  parts/footprints.pretty/XTAL_ECS-240-8-33-AGN-TR.kicad_mod
  parts/schematic/formula.kicad_sym
  vehicle/mkvi/hardware/nostril/dashboard/BUILD
  vehicle/mkvi/hardware/nostril/dashboard/MCP25625.kicad_sch
  vehicle/mkvi/hardware/nostril/dashboard/dashboard.kicad_pcb
  vehicle/mkvi/hardware/nostril/dashboard/dashboard.kicad_pro
  vehicle/mkvi/hardware/nostril/dashboard/dashboard.kicad_sch
  vehicle/mkvi/hardware/nostril/dashboard/fivevoltbuck.kicad_sch
  vehicle/mkvi/hardware/nostril/dashboard/lsd.kicad_sch
  vehicle/mkvi/hardware/nostril/dashboard/shutdown_sense.kicad_sch
  vehicle/mkvi/hardware/nostril/dashboard/sym-lib-table
Labels: vehicle, hardware, mkvi, subteam:lv, needs-review

#201 Jun/precharge discharge
  parts/3DModels/G2RG-2A-X/G2RG-2A-X_DC12.stp
  parts/oem.pretty/Connector_MicroFit_VT_5x1.kicad_mod
  parts/oem.pretty/G2RG-X.kicad_mod
  parts/schematic/oem.kicad_sym
  test
  vehicle/mkvi/hardware/service-section/precharge_discharge/fp-lib-table
  vehicle/mkvi/hardware/service-section/precharge_discharge/jun-library.pretty/fromis.kicad_mod
  vehicle/mkvi/hardware/service-section/precharge_discharge/jun-library.pretty/kirbystar.kicad_mod
  vehicle/mkvi/hardware/service-section/precharge_discharge/jun-library.pretty/star.kicad_mod
  vehicle/mkvi/hardware/service-section/precharge_discharge/precharge_discharge.kicad_pcb
  vehicle/mkvi/hardware/service-section/precharge_discharge/precharge_discharge.kicad_pro
  vehicle/mkvi/hardware/service-section/precharge_discharge/precharge_discharge.kicad_sch
  vehicle/mkvi/hardware/service-section/precharge_discharge/thermistor.kicad_sch
Labels: vehicle, hardware, mkvi

#184 TSAL/AIL Layout
  parts/3DModels/ACN-H50L-Stretched-SO8_BRA_Optoisolator/ACN-H50L-Stretched-SO8_BRA.step
  parts/3DModels/EEVEB2W100SM/EEVEB2W100SM.STEP
  parts/3DModels/SMA_STM_1A_600V_DIODE/SMA_STM.step
  parts/3DModels/SOIC-8_MNP_MP9488/SOIC-8_MNP.step
  parts/3DModels/UUQ1H101MCL1GS/UUQ1H101MCL1GS.STEP
  parts/footprints.pretty/C_100uF+.kicad_mod
  parts/footprints.pretty/C_10uF_450V.kicad_mod
  parts/footprints.pretty/Converter_DCDC_MPS_MP9488.kicad_mod
  parts/footprints.pretty/Diode_600V_1A_SM.kicad_mod
  parts/oem.pretty/ACNT-H50L-500E.kicad_mod
  parts/schematic/oem.kicad_sym
  vehicle/mkvi/hardware/service-section/tsal-ail/BUILD
  vehicle/mkvi/hardware/service-section/tsal-ail/tsal-ail.kicad_pcb
  vehicle/mkvi/hardware/service-section/tsal-ail/tsal-ail.kicad_pro
  vehicle/mkvi/hardware/service-section/tsal-ail/tsal-ail.kicad_sch
Labels: vehicle, hardware, mkvi, subteam:hv, needs-review

#206 Mkvi bms layout
  parts/3DModels/436450200.stp
  parts/3DModels/HM2112ZNL/HM2112ZNL_3D.STEP
  parts/OEM.3dshapes/LQFP-64-1EP_12x12_P0.5.step
  parts/OEM.3dshapes/PCA9545APW118.stp
  parts/footprints.pretty/HM2112ZNLT.kicad_mod
  parts/footprints.pretty/LQFP-64-1EP_12x12_P0.5.kicad_mod
  parts/footprints.pretty/MicroFit_RA_2.kicad_mod
  parts/footprints.pretty/SOP65P640X110-20N.kicad_mod
  parts/schematic/formula.kicad_sym
  parts/schematic/oem.kicad_sym
  vehicle/mkvi/hardware/bms/bms_core/BUILD
  vehicle/mkvi/hardware/bms/bms_core/bms_core.kicad_pcb
  vehicle/mkvi/hardware/bms/bms_core/bms_core.kicad_pro
  vehicle/mkvi/hardware/bms/bms_core/bms_core.kicad_sch
  vehicle/mkvi/hardware/bms/bms_core/bspd_current_sense.kicad_sch
  vehicle/mkvi/hardware/bms/bms_core/isospi-interface.kicad_sch
  vehicle/mkvi/hardware/bms/bms_core/m_2_connector.kicad_sch
  vehicle/mkvi/hardware/bms/bms_csc/BUILD
  vehicle/mkvi/hardware/bms/bms_csc/DA_I2C_Pull_Up_Resistor.kicad_sch
  vehicle/mkvi/hardware/bms/bms_csc/bms_csc.kicad_pcb
  vehicle/mkvi/hardware/bms/bms_csc/bms_csc.kicad_pro
  vehicle/mkvi/hardware/bms/bms_csc/bms_csc.kicad_sch
  vehicle/mkvi/hardware/bms/bms_csc/filter-balance.kicad_sch
  vehicle/mkvi/hardware/bms/bms_csc/i2c_add_jumper.kicad_sch
  vehicle/mkvi/hardware/bms/bms_csc/isoSPI-transformer.kicad_sch
  vehicle/mkvi/hardware/bms/bms_csc/power_board_connect.kicad_sch
  vehicle/mkvi/hardware/bms/bms_csc/thermistor_connect.kicad_sch
  vehicle/mkvi/hardware/bms/bms_csc/voltage_filtering.kicad_sch
  vehicle/mkvi/hardware/bms/data_acquisition_module/BUILD
  vehicle/mkvi/hardware/bms/data_acquisition_module/data_acquisition_module.kicad_pcb
  vehicle/mkvi/hardware/bms/data_acquisition_module/data_acquisition_module.kicad_pro
  vehicle/mkvi/hardware/bms/data_acquisition_module/data_acquisition_module.kicad_sch
Labels: vehicle, hardware, mkvi

#212 Delete duplicate files
  vehicle/mkvi/J1772 /CAN_CONTROLLER.kicad_sch
  vehicle/mkvi/J1772 /Checklist Circuit Board.kicad_pcb
Labels: vehicle, hardware, mkvi
