Repository olin-electric-motorsports/olin-electric-motorsports, pull requests merged in 2023-09, with the labels that each got.

#219 Add Mock Inverter
  parts/3DModels/20-SOIC/20-SOIC.STEP
  parts/3DModels/3AG_fuse_holder/3AG_fuse_holder.stp
  parts/3DModels/8-SOIC/8-SOIC.stp
  parts/3DModels/LLS2W221MELB/CAP_B30_NCH.step
  parts/3DModels/MAX7221/21-0042B_24_MXM.step
  parts/3DModels/MAX7221/21-0042B_24_MXM.step:Zone.Identifier
  parts/3DModels/MicroFit-RA_3/43650-0303.stp
  parts/3DModels/MicroFit-RA_3/43650-0303.stp:Zone.Identifier
  parts/3DModels/MicroFit_RA_4x1/43650-0403.stp
  parts/3DModels/MicroFit_RA_4x1/43650-0403.stp:Zone.Identifier
  parts/3DModels/PQME1-S5-S5-M-TR/PQME1-S5-S5-M-TR.STEP
  parts/3DModels/SHV05-1A85-78L2K/SHV05-1A85-78L2K.stp
  parts/3DModels/SHV05-1A85-78L2K/SHV05-1A85-78L2K.stp:Zone.Identifier
  parts/3DModels/adafruit_1001/Adafruit_-_1001.step
  parts/3DModels/adafruit_1001/Adafruit_-_1001.step:Zone.Identifier
  parts/footprints.pretty/20-SOIC.kicad_mod
  parts/footprints.pretty/4245.kicad_mod
  parts/footprints.pretty/8-SOIC.kicad_mod
  parts/footprints.pretty/Adafruit-1001-0-0-MFG.kicad_mod
  parts/footprints.pretty/CONV_PQME1-S5-S5-M.kicad_mod
  parts/footprints.pretty/LED_0603_1608Metric.kicad_mod
  parts/footprints.pretty/LLS2W221MELB.kicad_mod
  parts/footprints.pretty/MAX7221CWG.kicad_mod
  parts/footprints.pretty/MicroFit_RA_3.kicad_mod
  parts/footprints.pretty/MicroFit_RA_4x1.kicad_mod
  parts/footprints.pretty/TC2030-IDC-FP.kicad_mod.txt:Zone.Identifier
  parts/footprints.pretty/TC2030-IDC-NL.kicad_mod
  parts/footprints.pretty/TC2030-IDC-NL.kicad_mod.txt:Zone.Identifier
  parts/footprints.pretty/TestPoint_Pad_D1mm.kicad_mod
  parts/oem.pretty/tp_1.25mm.kicad_mod
  parts/schematic/formula.kicad_sym
  vehicle/mkvi/hardware/mock-inverter/BUILD
  vehicle/mkvi/hardware/mock-inverter/mock-inverter.kicad_pcb
  vehicle/mkvi/hardware/mock-inverter/mock-inverter.kicad_pro
  vehicle/mkvi/hardware/mock-inverter/mock-inverter.kicad_sch
Labels: vehicle, hardware, mkvi

#242 IMU Rev 2.1
  parts/3DModels/6-WDFN/6-WDFN.stp
  parts/footprints.pretty/6-WDFN.kicad_mod
  parts/footprints.pretty/SolderJumper-2_Open_Hooks0.8x1.8mm.kicad_mod
  parts/schematic/formula.kicad_sym
  vehicle/mkvi/hardware/imu/imu.kicad_pcb
  vehicle/mkvi/hardware/imu/imu.kicad_pro
  vehicle/mkvi/hardware/imu/imu.kicad_sch
Labels: vehicle, hardware, mkvi

#243 Fix to allow building with avr-gcc 12+
  bazel/toolchain/avr.bzl
  bazel/toolchain/features.bzl
Labels: bazel

#244 Rev 2 of MKVI Nostril Motherboard
  vehicle/mkvi/hardware/nostril/motherboard/buck.kicad_sch
  vehicle/mkvi/hardware/nostril/motherboard/nostril.kicad_pcb
  vehicle/mkvi/hardware/nostril/motherboard/nostril.kicad_pro
  vehicle/mkvi/hardware/nostril/motherboard/nostril.kicad_sch
Labels: vehicle, hardware, mkvi

#246 R2 of MKVI Dashboard Pi Hat
  parts/footprints.pretty/Automotive_M.2_Edge_Connector.kicad_mod
  vehicle/mkvi/hardware/nostril/dashboard/MCP25625.kicad_sch
  vehicle/mkvi/hardware/nostril/dashboard/dashboard.kicad_pcb
  vehicle/mkvi/hardware/nostril/dashboard/dashboard.kicad_pro
  vehicle/mkvi/hardware/nostril/dashboard/dashboard.kicad_sch
  vehicle/mkvi/hardware/nostril/dashboard/lsd.kicad_sch
  vehicle/mkvi/hardware/nostril/dashboard/shutdown_sense.kicad_sch
  vehicle/mkvi/software/dashboard/dashboard.py
  vehicle/mkvi/software/dashboard/dashboard.yml
  vehicle/mkvi/software/dashboard/dashboardpython.yml
Labels: vehicle, hardware, mkvi

#225 Add MkVI BSPD Firmware
  bazel/defs.bzl
  libs/can/can.c
  projects/btldr/ecus.bzl
  projects/can_api/c_generator.py
  vehicle/mkvi/BUILD
  vehicle/mkvi/software/brakes/BUILD
  vehicle/mkvi/software/brakes/bspd.c
  vehicle/mkvi/software/brakes/bspd.h
  vehicle/mkvi/software/brakes/bspd.yml
  vehicle/mkvi/software/brakes/tests/test_brakes.py
Labels: bazel, vehicle, mkvi
