Repository olin-electric-motorsports/olin-electric-motorsports, pull requests merged in 2023-03, with the labels that each got.

#221 Add sensing carrier board for MKVI rear sensing box
  parts/3DModels/DTM13-12PA-R008.step
  parts/footprints.pretty/M.2_ScrewMount.kicad_mod
  parts/footprints.pretty/TE_DTM13-12PA-R008.kicad_mod
  parts/footprints.pretty/TE_EEC-325X4B.kicad_mod
  vehicle/mkvi/hardware/sensing/sensing_carrier/BUILD
  vehicle/mkvi/hardware/sensing/sensing_carrier/sensing_carrier.kicad_pcb
  vehicle/mkvi/hardware/sensing/sensing_carrier/sensing_carrier.kicad_pro
  vehicle/mkvi/hardware/sensing/sensing_carrier/sensing_carrier.kicad_sch
  vehicle/mkvi/hardware/sensing/sensing_carrier/sym-lib-table
Labels: vehicle, hardware, mkvi

#209 Add MKVI Nostril Motherboard
  parts/3DModels/ampseal23_RA.STEP
  parts/oem.pretty/Ampseal_23_RA.kicad_mod
  vehicle/mkvi/hardware/nostril/motherboard/BUILD
  vehicle/mkvi/hardware/nostril/motherboard/buck.kicad_sch
  vehicle/mkvi/hardware/nostril/motherboard/nostril.kicad_pcb
  vehicle/mkvi/hardware/nostril/motherboard/nostril.kicad_pro
  vehicle/mkvi/hardware/nostril/motherboard/nostril.kicad_sch
Labels: vehicle, hardware, mkvi

#218 Add MKVI sensing controller board
  parts/schematic/formula.kicad_sym
  vehicle/mkvi/hardware/sensing/BUILD
  vehicle/mkvi/hardware/sensing/filtering_and_amp.kicad_sch
  vehicle/mkvi/hardware/sensing/sensing_controller.kicad_pcb
  vehicle/mkvi/hardware/sensing/sensing_controller.kicad_pro
  vehicle/mkvi/hardware/sensing/sensing_controller.kicad_sch
Labels: vehicle, hardware, mkvi

#215 Complete rev 2 of IMU schematic
  parts/3DModels/24-QFN/24-QFN.step
  parts/3DModels/32-QFN/PV_ATM.step
  parts/3DModels/DFN8_3x3MC_MCH/DFN8_3x3MC_MCH.step
  parts/3DModels/TXB0104RUTR/TXB0104RUTR.stp
  parts/3DModels/U-DFN2020-6/U-DFN2020-6.stp
  parts/footprints.pretty/32-QFN.kicad_mod
  parts/footprints.pretty/DFN8_3x3MC_MCH.kicad_mod
  parts/footprints.pretty/SolderJumper-2_Open_Hooks0.8x1.8mm.kicad_mod
  parts/footprints.pretty/SolderWirePad_1x01_SMD_1.5x1.5mm.kicad_mod
  parts/footprints.pretty/TC2030-IDC-FP.kicad_mod
  parts/footprints.pretty/TC2030-IDC-NL.kicad_mod
  parts/footprints.pretty/TXB0104RUTR.kicad_mod
  parts/footprints.pretty/TestPoint_Pad_D0.5mm.kicad_mod
  parts/footprints.pretty/U-DFN2020-6.kicad_mod
  parts/schematic/formula.kicad_sym
  vehicle/mkvi/hardware/imu/BUILD
  vehicle/mkvi/hardware/imu/fp-lib-table
  vehicle/mkvi/hardware/imu/imu.kicad_pcb
  vehicle/mkvi/hardware/imu/imu.kicad_pro
  vehicle/mkvi/hardware/imu/imu.kicad_sch
  vehicle/mkvi/hardware/imu/sym-lib-table
Labels: vehicle, hardware, mkvi

#226 Add MKVI DBC
  vehicle/common/emeter/BUILD
  vehicle/common/emeter/emeter.dbc
  vehicle/common/motor_controller/BUILD
  vehicle/common/motor_controller/motor_controller.dbc
  vehicle/mkv/BUILD
  vehicle/mkvi/BUILD
Labels: vehicle, mkv, mkvi

#228 Bump bazel version
  .bazelversion
Labels: bazel

#229 Add in BMS and AIR Control changes to MKV from comp
  libs/can/api.h
  libs/can/can.c
  libs/can/mob.h
  libs/can/test/BUILD
  libs/can/test/test_app.c
  tools/can/bridge.py
  vehicle/mkv/BUILD
  vehicle/mkv/software/air_control/air.c
  vehicle/mkv/software/air_control/air.yml
  vehicle/mkv/software/bms/bms.c
  vehicle/mkv/software/bms/bms.yml
  vehicle/mkv/software/bms/bms_config.c
  vehicle/mkv/software/bms/bms_config.h
  vehicle/mkv/software/bms/charging/BUILD
  vehicle/mkv/software/bms/charging/charging.yml
  vehicle/mkv/software/bms/tasks/voltage_task.c
  vehicle/mkv/software/bms/tools/BUILD
  vehicle/mkv/software/bms/tools/charger_can_bridge.py
Labels: vehicle, mkv
