Repository olin-electric-motorsports/olin-electric-motorsports, pull requests merged in 2024-10, with the labels that each got.

#295 Fix CI
  .github/workflows/build.yml
  BUILD.bazel
  WORKSPACE
  bazel/defs.bzl
  bazel/toolchain/avr.bzl
  bazel/toolchain/features.bzl
  bazel/toolchain/linux.bzl
  examples/old/bazel_test/main.c
  examples/old/bazel_test/test_main.c
  libs/can/test/BUILD
  projects/hitl/hitl/lib/BUILD
  third_party/MCP25625/BUILD
  tools/bom/BUILD
  tools/pytest/defs.bzl
  vehicle/mkv/software/air_control/BUILD
  vehicle/mkv/software/brakelight_bspd/BUILD
  vehicle/mkv/software/throttle/BUILD
  vehicle/mkvi/BUILD
  vehicle/mkvi/software/air_control/BUILD
  vehicle/mkvi/software/air_control/tests/BUILD
  vehicle/mkvi/software/bms/utils/BUILD
  vehicle/mkvi/software/charging/BUILD
  vehicle/mkvi/software/throttle/BUILD
  vehicle/mkvii/BUILD
Labels: hitl, bazel, vehicle, mkv, mkvi

#294 Add Can Print
  bazel/defs.bzl
  examples/can_print/BUILD
  examples/can_print/can_print_example.c
  examples/can_print/can_print_example.yml
  projects/can_print/BUILD
  projects/can_print/README.md
  projects/can_print/can_print.c
  projects/can_print/can_print.h
  projects/can_print/can_print.py
  projects/can_print/can_print.yml
  projects/can_print/example_can_print_example.png
  vehicle/mkvi/BUILD
Labels: bazel, vehicle, mkvi

#279 Add IMU Code
  .github/workflows/kicad.yml
  libs/spi/api.h
  libs/spi/spi.c
  vehicle/common/icm20948/BUILD
  vehicle/common/icm20948/icm20948.c
  vehicle/common/icm20948/icm20948.h
  vehicle/mkvi/BUILD
  vehicle/mkvi/software/imu/BUILD
  vehicle/mkvi/software/imu/imu.c
  vehicle/mkvi/software/imu/imu.yml
  vehicle/mkvi/software/imu/imu_config.h
Labels: firmware, vehicle, mkvi

#296 updated hole size for pressfit and removed merge conflicts
  parts/oem.pretty/Wurth-7461115.kicad_mod
  parts/oem.pretty/Wurth-7464X00-BiDirectional.kicad_mod
  parts/oem.pretty/Wurth-7464X00.kicad_mod
  vehicle/mkvi/hardware/segment/power/power.kicad_pcb
  vehicle/mkvi/hardware/segment/power/power.kicad_sch
Labels: vehicle, hardware, mkvi

#297 Update bspd.h to include pin change for 5kW led (bodge to get ready for comp)
  vehicle/mkvi/software/brakes/bspd.h
Labels: vehicle, mkvi
